$blue_main : #527599;
$blue_hover: #A9BACC;
$blue_heart: #7A9EC0;
$almost_invisible: rgba(170, 186, 204, 0.3); 

$green_main: #3fb618;

@font-face {
  font-family: "RaleWayThin";
  src: url(../fonts/Raleway/Raleway-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "RaleWayExtraLight";
  src: url(../fonts/Raleway/Raleway-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "RaleWayLight";
  src: url(../fonts/Raleway/Raleway-Light.ttf) format("truetype");
}

@font-face {
  font-family: "RaleWayRegular";
  src: url(../fonts/Raleway/Raleway-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "RalewayMedium";
  src: url(../fonts/Raleway/Raleway-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "RalewayBold";
  src: url(../fonts/Raleway/Raleway-Bold.ttf) format("truetype");
}


body {
	overflow: hidden;
}

.likes-count {
//	color: #bcf4aa; 
	font-size: 26px; 
	padding: 0;
	& .glyphicon {
		font-size: 22px;
	}
	& #likes-count {
		top: -2px;
		position: relative;
	}
}

#like-blocks {
	position: relative;
	& #div-blocker {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 49;
		background-color: white;
		opacity: .5;
		display: none;
	}
}

.glyphicon-middle {
	top: 3px;
}

.modal-footer {
	& button {
		outline: none !important;
		border-radius: 5px;
	}
}

.btn-group {
	& .btn:first-child {
		border-radius: 5px 0 0 5px;
	}
	& .btn:last-child {
		border-radius: 0 5px 5px 0;
	}
}

.no-opacity {
	opacity: 1 !important;
}

hr {
	border-top: 1px solid rgba(170, 186, 204, 0.3);
}

#row-content {
	border-top: 1px solid $almost_invisible;
	margin-top: 25px;
	display: none;
	padding-top: 10px;
}

#row-example {
	margin-bottom: 40px;
	min-height: 18px;
}

.row-menu {
	margin-top: 10px;
	text-align: center;
	& img {
		width: 100px;
		cursor: pointer;
		opacity: .5;
		margin-bottom: 12px;
		z-index: 9;
		-webkit-transition: all .1s ease; /* Safari and Chrome */
        -moz-transition: all .1s ease; /* Firefox */
        -ms-transition: all .1s ease; /* IE 9 */
        -o-transition: all .1s ease; /* Opera */
        transition: all .1s ease;
		&.hovered {
			opacity: 1;
			-webkit-transform:scale(1.1); /* Safari and Chrome */
	        -moz-transform:scale(1.1); /* Firefox */
	        -ms-transform:scale(1.1); /* IE 9 */
	        -o-transform:scale(1.1); /* Opera */
	         transform:scale(1.1);
		}
	}
	& .menu-label {
		color: $blue_main;
		z-index: -1;
		position: absolute;
		width: 100%;
		text-align: center;
		left: 0px;
	}
}

#main-logo {
	width: 250px;
}

#row-controls {
	margin-top: 20px;
}

#main-input {
	-webkit-transition: all linear .3s;
	transition: all linear .3s;
	border: 3px solid $blue_main;
	outline: none;
	box-shadow: none;
/*
	&:focus {
		border-color: $blue_hover;
		& + .input-group-btn #start-button {
			-webkit-transition: all linear .3s;
			transition: all linear .3s;
			background-color: $blue_hover;
			border-color: $blue_hover;
		}
	}
*/
}

#start-button {
//	border: 3px solid $blue_main;
//	color: $blue_main;
//	margin-left: -3px;
//	padding: 8px 18px;
//	background-color: white;
	text-transform: uppercase;
	outline: none;
	&:hover {
		background-color: $blue_heart;
		border-color: $blue_heart;
	}
}

#row-buttons {
	position: relative;
}

.example-text {
	font-family: "RalewayRegular";
	font-size: 13px;
//	color: $blue_hover;
	& #example-link {
		cursor: pointer;
		border-bottom: 1px dotted $blue_main;	
		&:hover {
			color: $blue_hover;
			border-color: $blue_hover;
		}	
	}
}

h4 {
	font-family: "RalewayRegular";
}

.block-line {
	text-align: center;
	margin-bottom: 20px;
	& .vliker-block {
		overflow: hidden;
		margin: 0 13px;
		background-color: white;
		background: url('../img/loaders/progress_blue.gif') no-repeat 50% 50%;
		z-index: 1;
		width: 280px;
		height: 200px;
		display: inline-block;
		border: 1px solid rgba(83, 119, 153, 0.3); // rgba(170, 186, 204, 0.3)
		cursor: pointer;
		border-radius: 5px;
		-webkit-transition: all .1s ease; /* Safari and Chrome */
        -moz-transition: all .1s ease; /* Firefox */
        -ms-transition: all .1s ease; /* IE 9 */
        -o-transition: all .1s ease; /* Opera */
        transition: all .1s ease;
        position: relative;
		&:hover {
			& img {
				&.thumbnail {
					width: 280px;
				}
			}
			z-index: 9;
			box-shadow: 0 0 25px $blue_heart;
//			border-color: transparent;
			border: none;
			-webkit-transform:scale(1.1); /* Safari and Chrome */
	        -moz-transform:scale(1.1); /* Firefox */
	        -ms-transform:scale(1.1); /* IE 9 */
	        -o-transform:scale(1.1); /* Opera */
	         transform:scale(1.1);
		}
		& img {
			&.thumbnail {
				width: 278px;
				padding: 0;
				border: none;
			}
		}
		
		& .card {
			width: 100%;
			height: 100%;
			position: absolute;
			transform-style: preserve-3d;
			transition: transform .5s;
//			background: white !important;
//			transform-origin: right center;
			cursor: default !important;
			& figure {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				backface-visibility: hidden;
				
				&.front {
					background: url('../img/icons/close@2x.png') no-repeat 50% 50%;
					width: 100%;
					height: 100%;
					background-color: #527599;
					background-size: 128px;
				}
				&.back {
					transform: rotateY(180deg);
					background-color: $blue_heart;
					color: white;
					line-height: 200px;
					text-transform: uppercase;
				}
			}
			
			&:hover {
//				transform: translateX( -100% ) rotateY( -180deg );
				transform: rotateY( 180deg );
			}
		}
	}
}

.footer {
	text-align: center;
	font-size: 10px;
	color: #BAC2CC;
	
	& a{
		text-decoration: none;
		text-shadow: none;
		color: #BAC2CC;
	}
	
	& a:hover{
		text-decoration: underline;
		color: #2B587A;
	}
}